.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 4px;
  padding: 10px;
}

.counter h1 {
    margin-bottom: 1rem;
}

.counter button {
  background-color: aqua;
  padding: 5px 20px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.counter button:hover {
  background-color: aquamarine;
}
